.App {
  text-align: center;
}

.mainCarousel {
  width: 60%;
  height: 300px;
  border: 1px solid salmon;
  margin: auto;
  margin-bottom: 32px;
  position: relative;
}

.controlBt {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 80px;
  font-size: 50px;
  border: none;
  background-color: transparent;
  transform: translate(0, -25px);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.AddcontentContainer {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addComment {
  width: 100px;
  padding: 8px;
  margin: 16px;
}

.textArea {
  width: 800px;
  height: 400px;

}

.TODOItemcontainer {
  display: flex;
  flex-basis: 10%;
}

.TODOdate {
  flex-grow: 2;
}

.TODOthings {
  flex-grow: 8;
}

table {
  width: 80%;
  margin: auto;
}

th {
  cursor: pointer;
}

.tabledate {
  width: 50%;
}

.thumnailContainer {
  border: 1px solid black;
  height: 50px;
  width: 80%;
  margin: auto;
  line-height: 30px;
  margin-bottom: 16px;
  display: flex;
}

.thumnail {
  flex-basis: 30px;
  border: 1px solid rebeccapurple;
  overflow: hidden;
  display: flex;
}

.disImg {
  flex-grow: 6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigationContainer {
  width: 200px;
  background-color: black;
  text-align: left;
  font-size: 16px;
  color: wheat;
}

.navigationContainer li {
  list-style-type: none;
  padding: 8px;
}

.navigationContainer li a {
  text-decoration: none;
  color: wheat;
}

.navigationContainer a::after {
  text-decoration: none;
}

.childrenList {
  position: relative;
}

ul {
  padding: 0;
}